@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto sans', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: white;
}
a{
  text-decoration: none;
  color: inherit;
}
button{
  border: none;
  outline: none;
}
li{
  list-style: none;
}
#app{
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;

}
header{
  height: 100%;
  display: block;
  width: 240px;
  background: #4E10EF;
}

header > div{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows:45px 1fr 120px ;
  padding: 1em;
  padding-right:0 ;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.siteLogo{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.siteLogo img{
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.Navigator{
  display: block;
}
.Navigator ul{
  width: 100%;
  height: 100%;
  gap: 1.2em;
  display: grid;
  padding: 2em 0;
  grid-template-rows: repeat(9, 1fr);
}
.Navigator ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-top-left-radius:40px ;
  border-bottom-left-radius:40px ;
}

.Navigator ul li a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
  padding-left:2em;
  justify-content: flex-start;
  color: white;
}
section{
  width: 100%;
  margin-bottom: 2em;
}
.Navigator ul li a.tabcolor{
  background-color: white;
  transition: .3s background linear;
}
.Navigator ul li a.tabcolor svg path{
  fill: #4E10EF;
  stroke: #4E10EF;
}
.Navigator ul li a.tabcolor p{
  color: #4E10EF;
  font-weight: 600;
}

.Navigator ul li a p{
  font-size: 16px;
  font-weight: 400;
}

.quickStart h3{
  font-size: 17px;
  color: #FFFFFF;
  font-weight: 500;
}
.quickStart > div{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 1em;
}
.quickStart > div p{
  font-weight: 400;
  font-size: 13px;
  color: white;
}
#contentArea{
  display: block;
  flex-direction: column;
  padding: 0 .5em;
  overflow-y:auto ;
  flex: 1;
  position: relative;
}
#contentArea .topBar{
  display: grid;
  height: 80px;
  align-items: center;
  grid-template-columns: 300px 1fr;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}

.topBar > p{
  display: flex;
  height: 100%;
  align-items: center;
  font-size: clamp(13px, 2vw, 22px);
  font-weight: 600;
  color: rgba(22, 22, 22, 1);

}
#contentArea .topBar .search_Other{
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  height: 100%;
}
#contentArea .topBar .search_Other .searchbar{
  display: flex;
  align-items: center;
  padding: 8px 20px;
  gap: 6px;
  flex: 1;
  height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius:40px;
} 
#contentArea .topBar .search_Other .searchbar input{
  outline: none;
  border: none;
  background: none;
  width: 100%;
}
#contentArea .topBar .search_Other .userIcons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  height: 100%;
  padding-right:.4em ;
  gap: 1em;
}
#contentArea .topBar .search_Other .userIcons span{
  display: flex;
  align-items: center;
  justify-content: center;
}
#contentArea .topBar .search_Other .userIcons span svg{
  width: 90%;
  height: 90%;
} 
#contentArea .topBar .search_Other .userIcons span img{
  width: 30px;
  height:30px;
  border-radius: 50%;
  object-position: top;
}
.contentHub{
  display: flex;
  flex: 1;
}

.main-section {
  display: none !important;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.main-section.activeSection {
  display: flex !important;
  opacity: 1;
}








/* Dashboard design Start here */
#Dashboard{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.3em;
}
#Dashboard .dashboardNavBar{
  width: 100%;
  display: flex;
  background-color: white;
}
.dashboardNavBar .dashboardnavcon{
  width: 100%;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
}
.dashboardnavcon > div{
  border-radius: 11px;
  border: 0.7px solid rgba(0, 0, 0, 0.15);
  padding:10px 15px;
}

.dashboardNavBar .dashboardnavcon .Portfolio_money{
  background: rgba(78, 16, 239, 1);
  display: flex;
  gap: .4em;
}

.dashboardNavBar .dashboardnavcon .Portfolio_money >:nth-child(1){
  display: flex;
  width: 3px;
  height: 80%;
  background-color: white;
  border-radius: 10px;
  
}
.dashboardNavBar .dashboardnavcon .Portfolio_money >:nth-child(2){
  display: flex;
  flex-direction: column;
  padding:0 .5em;
  align-items: start;
  justify-content: space-between;
  flex: 1;
  color: white;
}
.dashboardNavBar .dashboardnavcon .Portfolio_money >:nth-child(2) p{  
  font-size: 9.78px;
  font-weight: 400;
}
.dashboardNavBar .dashboardnavcon .Portfolio_money >:nth-child(2) h3{  
  font-size: 18.35px;
  font-weight: 600;
}
.dashboardNavBar .dashboardnavcon .Portfolio_money >:nth-child(3){
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 50px;
}
.dashboardNavBar .dashboardnavcon .Portfolio_money >:nth-child(3) span{
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  width: 23px;
  height: 23px;
  border-radius: 5.59px;
  align-items: center;
}

.dashboardNavBar .dashboardnavcon .today_PL{
  background:white;
  display: flex;
  gap: .4em;
}

.dashboardNavBar .dashboardnavcon .today_PL >:nth-child(1){
  display: flex;
  width: 3px;
  height: 80%;
  background-color: rgba(208, 255, 229, 1);
  border-radius: 10px;
}
.dashboardNavBar .dashboardnavcon .today_PL >:nth-child(2){
  display: flex;
  flex-direction: column;
  padding:0 .5em;
  align-items: start;
  justify-content: space-between;
  flex: 1;
  color: rgba(22, 22, 22, 1);
}
.dashboardNavBar .dashboardnavcon .today_PL >:nth-child(2) p{  
  font-size: 9.78px;
  font-weight: 400;
}
.dashboardNavBar .dashboardnavcon .today_PL >:nth-child(2) > div{  
  font-size: 16.35px;
  font-weight: 600;
  display: inline;
  white-space: nowrap;
}
.dashboardNavBar .dashboardnavcon .today_PL >:nth-child(2) > div p{
  font-size: 9.78px;
  display: inline-block;
}
.dashboardNavBar .dashboardnavcon .today_PL >:nth-child(3){
  display: flex;
  justify-content: flex-end;
  width: 50px;
  height: 100%;
}
.dashboardNavBar .dashboardnavcon .today_PL >:nth-child(3) span{
  display: flex;
  justify-content: center;
  background: rgba(208, 255, 229, 1);
  width: 23px;
  height: 23px;
  border-radius: 5.59px;
  align-items: center;
}

.dashboardNavBar .dashboardnavcon .Open_Positions{
  background:white;
  display: flex;
  gap: .4em;
}

.dashboardNavBar .dashboardnavcon .Open_Positions >:nth-child(1){
  display: flex;
  width: 3px;
  height: 80%;
  background-color: rgba(181, 154, 246, 1);
  border-radius: 10px;
}
.dashboardNavBar .dashboardnavcon .Open_Positions >:nth-child(2){
  display: flex;
  flex-direction: column;
  padding:0 .5em;
  align-items: start;
  justify-content: space-between;
  flex: 1;
  color: black;
}
.dashboardNavBar .dashboardnavcon .Open_Positions >:nth-child(2) p{  
  font-size: 9.78px;
  font-weight: 400;
}
.dashboardNavBar .dashboardnavcon .Open_Positions >:nth-child(2) h3{  
  font-size: 17.35px;
  font-weight: 600;
}
.dashboardNavBar .dashboardnavcon .Open_Positions >:nth-child(3){
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 50px;
}
.dashboardNavBar .dashboardnavcon .Open_Positions >:nth-child(3) span{
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  width: 23px;
  height: 23px;
  border-radius: 5.59px;
  align-items: center;
}

.dashboardNavBar .dashboardnavcon .Wallet_Balances{
  background:white;
  display: flex;
  gap: .4em;
}

.dashboardNavBar .dashboardnavcon .Wallet_Balances >:nth-child(1){
  display: flex;
  width: 3px;
  height: 80%;
  background-color: rgba(255, 208, 246, 1);
  border-radius: 10px;
}
.dashboardNavBar .dashboardnavcon .Wallet_Balances >:nth-child(2){
  display: flex;
  flex-direction: column;
  padding:0 .5em;
  align-items: start;
  justify-content: space-between;
  flex: 1;
  color: black;
}
.dashboardNavBar .dashboardnavcon .Wallet_Balances >:nth-child(2) .wal{  
  font-size: 9.78px;
  font-weight: 400;
}
.dashboardNavBar .dashboardnavcon .Wallet_Balances >:nth-child(2) .val2{  
  font-size: clamp(12px, 2vw, 17px);
  font-weight: 600;
  margin: 0;
}
.dashboardNavBar .dashboardnavcon .Wallet_Balances >:nth-child(3){
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 50px;
}
.dashboardNavBar .dashboardnavcon .Wallet_Balances >:nth-child(3) span{
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  width: 23px;
  height: 23px;
  border-radius: 5.59px;
  align-items: center;
}

.dashboardNavBar .dashboardnavcon .Bot_Status{
  display: flex;
  flex-direction:column;
  align-items: center;
  gap: .4em;
}
.dashboardNavBar .dashboardnavcon .Bot_Status > p{
  font-size: 9.78px;
  font-weight: 400;
}
.dashboardNavBar .dashboardnavcon .Bot_Status > h3{
  font-size: 17.35px;
  font-weight: 600;
}
.dashboardNavBar .dashboardnavcon .Bot_Status > button{
  border-radius: 8px;
  background: rgba(249, 231, 230, 1);
  border: 0.61px solid;
  cursor: pointer;
  color: rgba(213, 48, 35, 1);
  font-weight: 700;
  font-size: 12px;
  padding: 7.33px 9.77px;
  border-image-source: radial-gradient(62.22% 62.22% at 31.73% 0%, #A0ABF8 0%, rgba(255, 255, 255, 0) 100%); 
}

#Dashboard .dashboardContent{
  flex: 1;
  display: flex;
  flex-direction:column ;
  gap: 1.3em;
}
#Dashboard .dashboardContent .p2pmarket{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
}
#Dashboard .dashboardContent .p2pmarket > div{
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  gap: 1em;
}
.PL_OverTime{
  padding: 1em 1.5em;
}
.PL_OverTime .timeoverPL{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.PL_OverTime .timeoverPL p{
  font-weight: 600;
  font-size: 16px;
}
.PL_OverTime .timeoverPL small{
  font-size: 9px;
  font-weight: 400;
}
.PL_OverTime .chatjs{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
.market_snapshot{
  display: flex;
  flex-direction: column;
  padding: 1em 1.5em;
}
.market_snapshot .marketvalue{
  width: 100%;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
}
.market_snapshot .latestupdatedcurrencies{
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  flex: 1;
}
.market_snapshot .latestupdatedcurrencies > div{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
}
.market_snapshot .latestupdatedcurrencies > div .coinLogo{ 
  display: flex;
  height: 100%;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}
.market_snapshot .latestupdatedcurrencies > div .coinLogo span{
  display: flex;
  align-items: center;
  justify-content: center;
}
.market_snapshot .latestupdatedcurrencies > div .coinLogo p{
  font-size: 13px;
  font-weight: 400;
}
.market_snapshot .latestupdatedcurrencies > div .marketview{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: end;
}
.market_snapshot .latestupdatedcurrencies > div .marketview > p{
  font-size: 13px;
}

#Dashboard .RecentTradeHistory{
  width: 100%;
  display: grid;
  grid-template-columns:2fr 1fr;
  gap: 2em;
}
#Dashboard .RecentTradeHistory > div{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}
.fortable{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
  overflow-x: auto;
  border-radius: 8px;
}
.card {
    background: white;
    border-radius: 8px;
    padding: 20px;
    min-width: 500px;
    width: 100%;
    overflow-x: auto;
}
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .header >:nth-child(1){
    font-size: 16px;
    font-weight: 600;
  }
  .header >:nth-child(2){
    font-size: 9px;
    font-weight: 400;

  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 12px 8px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #eee;
  }
  th {
    font-weight: 600;
    color: #555;
  }
  td {
    color: #333;
  }
  .green {
    color: green;
  }
  .red {
    color: red;
  }

#Dashboard .RecentTradeHistory > div .Alerts_Notifications{
  width: 100%;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 20px;
  flex-direction: column;
  gap: 1em;
}
#Dashboard .RecentTradeHistory > div .Alerts_Notifications > span{
  width: 100%;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: rgba(22, 22, 22, 1);
}
#Dashboard .RecentTradeHistory > div .Alerts_Notifications > div{
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
}
#Dashboard .RecentTradeHistory > div .Alerts_Notifications > div > span{
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 400;
}
.Bot_Activity .BotActive{
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  gap: 1em;
}
.Bot_Activity .BotActive span{
  font-size: 16px;
  width: 100%;
  align-items: center;
  font-weight: 600;
}
.Bot_Activity .BotActive > div{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.Bot_Activity .BotActive > div > p{
  font-size: 12px;
  font-weight: 400;
}


.Bot_Activity .Quick_Actions{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.3em;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.Bot_Activity .Quick_Actions > span{
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  align-items: center;
}
.Bot_Activity .Quick_Actions > div{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}
.Bot_Activity .Quick_Actions > div button{
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.14);
  text-align: center;
}










/* Wallets design Start here */

#Wallet{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.3em;
  margin-bottom: 2em;
}
#Wallet .Hot_Wallet{
  padding: 20px;
  flex-direction: column;
  background: rgba(78, 16, 239, 1);
  position: relative;
  width: 100%;
  border-radius: 8px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.diferentWallat{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.diferentWallat > div{
  display: flex;
  align-items: center;
}
.diferentWallat >:nth-child(1){
  display: flex;
  align-items: center;
  gap: 12px;
}
.diferentWallat >:nth-child(1) p{
  font-size: clamp(14, 3vw, 20px);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}
.diferentWallat >:nth-child(2){
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}
.diferentWallat >:nth-child(2) button{
  padding: 10px 32px;
  font-size: 11px;
  font-weight: 400;
  border-radius: 6.56px;
  cursor: pointer;
}
.diferentWallat >:nth-child(2) > :nth-child(1){
  position: absolute;
  white-space: nowrap;
  right: 10em;
}
.BalanceLookUp{
  width: 100%;
  display: block;
  /* align-items: center; */
  /* justify-content: flex-start; */
  position: relative;
}
.BalanceLookUp > div{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.BalanceLookUp > div span{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.BalanceLookUp > div p{
  font-weight: 24px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}
.BalanceLookUp > p{
  font-weight: 700;
  font-size: 40px;
  color: rgba(255, 255, 255, 1);
}
.BalanceLookUp > small{
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}
.BalanceLookUp > .transferButton{
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  padding: 8px 32px;
  background: rgba(78, 16, 239, 1);
  display:inline-flex;
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
  text-align: center;
}
.BalanceLookUp > .transferButton span{
  display: flex;
  align-items: center;
  justify-content: center;
} 
.BalanceLookUp > .transferButton > p{
  font-size: 11px;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  transform: translateY(3px);
}

.HotwalletpopNotify{
  width: 100%;
  display: block;
  background: rgba(246, 246, 246, 1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  cursor: default;
}
.HotwalletpopNotify > div{
  width: 100%;
  display: block;
  padding: 20px;
}
.HotwalletpopNotify > div > div{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: .6em;
}
.HotwalletpopNotify > div ul{
  display: block;
  margin-left: 2em;
  margin-bottom: 1.4em;
}
.HotwalletpopNotify > div ul li{
  list-style-type: disc;
  font-size: 16px;
  font-weight: 400;
}




.table-container {
  background: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  min-width: 700px;
  padding: 19px 38px;
}
.table-container > table {
  width: 100%;
  border-collapse: collapse;
  border: none !important;
}
.table-container > table,
.table-container > table tr{
  border-color: white !important;
}
.table-container > table th {
  text-align: left;
  padding: 12px;
  font-size: 14px;
  color: #555;
  border-bottom: 1px solid #eee;
}
.table-container > table  td {
  padding: 12px;
  font-size: 14px;
  border-bottom: none;
  vertical-align: middle;
}
.asset {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* .table-container > table  .asset svg {
  width: 34px;
  height: 34px;
  border-radius: 50%;
} */
/* .red {
  color: red;
}
.green {
  color: green;
} */
.table-container > table .dots {
  cursor: pointer;
  font-size: 18px;
  color: #666;
}


.Bot_Performance{
  width: 100%;
  display: block;
  padding: 19px 38px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.Bot_Performance > div{
  display: flex;
  width: 100%;
  align-items: center; 
}
.Bot_Performance > :nth-child(1) p{
  font-size: 16px;
  font-weight: 600;
}
.Bot_Performance > :nth-child(2){
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  gap: 10px;
}
.Bot_Performance > :nth-child(2) > div{
  gap: 10px;
  background: rgba(245, 246, 247, 1);
  border-radius: 8px;
  padding: 31px 38px;
}
.Bot_Performance > :nth-child(2) > div p{
  font-weight: 400;
  font-size: 14px;
  color: rgba(83, 95, 119, 1);
}
.Bot_Performance > :nth-child(2) > div h3{
  font-size: 22px;
  color: rgba(22, 22, 22, 1);
  font-weight: 600;
}
.Recent_Transactions{
  width: 100%;
}
.transactionstrick{
  padding: 20px;
  gap: 10px;
  /* max-width: 800px; */
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
} 
.transactionstrick > p{
  width: 100%;
  font-weight: 600;
  color: rgba(22, 22, 22, 1);
  font-size: 16px;
}
.tablebody > tr > td{
  border-bottom:none;
  vertical-align: middle;
}
.tablebody > tr .statuevalue{
  padding: 8px 23px;
  color: white;
  border-radius: 4px;
}
.completed{
  background-color: green;
}
.pending{
  background: rgba(227, 198, 67, 1);
}
.failed{
  background: rgba(149, 31, 22, 1);
}
.stuborntable{
  display: flex;
  align-items: center;
}
sup{
  font-size: 10px !important;
}
.targetbalance.selectedbutton{
  background: rgba(255, 255, 255, 1);
  color: black;
}
.targetbalance{
  background-color: rgb(201, 130, 201);
  color: white;
}





/* Marketing page Start here */

#Markets{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.3em;
  margin-bottom: 2em;
}
.marketing_list{
  display:flex ;
  flex-direction: column;
  padding: 29px 28px;
  border-radius: 8px;
  background: rgba(246, 246, 246, 1);
  gap: 32px;
}
.marketing_list .topmarkets{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}
.marketing_list .topmarkets > button{
  border-radius: 6.56px;
  padding: 8px 32px;
  font-weight: 400;
  font-size: 11.47px;
  color: rgba(22, 22, 22, 1);
  display: inline;
  background: rgba(235, 237, 240, 1);
  cursor: pointer;
}
.marketing_list .threesamples{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  width: 100%;
}
.threesamples > div{
  display: block;
  border: 0.88px solid rgba(0, 0, 0, 0.15);
  padding: 24px 18px;
  border-radius:8px ;
}
.threesamples > div > p{
  width: 100%;
  font-weight: 600;
  font-size: 17px;
  color: rgba(22, 22, 22, 1);
}

.recentMarkets{
  width: 100%;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  padding:0 1em;
}
.recentMarkets button{
  display: inline;
  border-radius: 6px;
  background-color: rgba(235, 237, 240, 1);
  color: rgba(22, 22, 22, 1);
  font-weight: 400;
  font-size: 11px;
  padding: 8.19px 32.78px;
}

.sortingtable{
  overflow: hidden;       
  display: block;   
}
.sortingtable > div{
  max-width: 100%;
  overflow-x: auto;
}
.sortingtable > div > table {
  border-collapse: collapse;
  width: 100%;
}

.sortingtable > div > table > .whytable th, .sortingtable > div > table > .whytable td {
  padding: 12px 16px;
  border-right: 1px solid #eee;
  border-bottom: none;
  font-size: 12px;

  white-space: nowrap;  
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px; 
}

.sortingtable > div > table > th {
  font-weight: 600;
  color: #555;
}

.sortingtable > div > table > td {
  color: #222;
}

.sortingtable > div > table .token-cell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sortingtable > div > table .token-cell svg {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.sortingtable > div >table .positive {
  color: #22c55e; 
  font-weight: 500;
}

.sortingtable > div > table .small {
  color: #666;
  font-size: 13px;
}








/* Trading page Begins here */
#Trading{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.3em;
}
.trading_grahp{
  width: 100%;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.trading_grahp > div{
  border-radius: 8px;
}
.trading_grahp >:nth-child(1) > img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}
.trading_grahp >:nth-child(2){
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  background: rgba(235, 237, 240, 1);

}
.tradingBotControl{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tradingBotControl > p{
  font-size: 15px;
  font-weight: 600;
  color: rgba(22, 22, 22, 1);
}
.tradingBotControl > div{
  gap: 1em;
  display: flex;
}
.tradingBotControl > div > button{
  padding: 7px 17px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 400;
  border-radius: 6px;
}
.trading_grahp >:nth-child(2) > input{
  width: 100%;
  padding: 15px 32px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.27);
  border-radius: 7px;
}
.start_stop{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
.start_stop > button{
  padding: 13px 20px;
  border-radius: 8px;
  cursor: pointer;
}
.status{
  width: 100%;
  gap: 1.5em;
  display: flex;
}
.status span{
  font-weight: 400; 
  display: flex;
  font-size: 14px;
}
.atasa{
  display:grid ;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 20px;
}
.atasa > div{
  background: rgba(245, 246, 247, 1);
  padding: 30px;
  display: block;
  border-radius: 8px;
}
.atasa > div > p{
  color: rgba(83, 95, 119, 1);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: .6em;
}
.atasa > div > h3{
  font-size: 20px;
  font-weight: 600;
  color: rgba(22, 22, 22, 1);
}
.opentradTable{
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 20px;
}
.opentradTable h3{
  font-size: 16px;
  font-weight: 600;
  color: rgba(22, 22, 22, 1);
  margin-bottom: 1em;
}
.opentablecontainer > table > thead tr th, .opentablecontainer > table > tbody tr td{
  border-bottom: none;
}
.trade_histories{
  padding: 20px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.trade_histories h3{
  margin-bottom: 1em;
  font-size: 16px;
  font-weight: 600;
  color: rgba(22, 22, 22, 1);
}
.trade_histories > div > table > thead tr th, .trade_histories > div > table > tbody tr td{
  border-bottom: none;
}
.Top_Gainers{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 52px;
}
.Top_Gainers > div{
  border: 1px solid rgba(0, 0, 0, 0.15);
  gap: 10px;
  padding:20px ;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.Top_Gainers > div > h3{
  font-size: 16px;
  font-weight: 600;
}
.topgainlistshow{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.topgainlistshow > div{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.topgainlistshow > div > span{
  display: flex;
  gap: 1em;
  align-items: center;
}
.topgainlistshow > div > span > p{
  font-size: 14px;
  color: rgba(22, 22, 22, 1);
  font-weight: 400;
}
.Trending_Coins{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Trending_Coins > h3{
  font-size: 16px;
  font-weight: 600;
  color: rgba(22, 22, 22, 1);
}
.Trending_Coins > div{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.Trending_Coins > div > div{
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1em;
}
.Trending_Coins > div > div > p{
  font-size: 14px;
  font-weight: 400;
  color: rgba(22, 22, 22, 1);
}









/* Trade History begins here  */

#TradeHistory{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.3em;
}

.Trade_istory{
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  flex-direction: column;
  display: flex;
  width: 100%;
  gap: 1em;
}
.Trade_istory > h3{
  font-weight: 600;
  font-size: 16px;
}
.entrytables > table > thead > tr > th, .entrytables > table > tbody > tr > td{
  border-bottom: none ;
}

.Open_business{
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  flex-direction: column;
  display: flex;
  width: 100%;
  gap: 1em;
}

.Open_business h3{
  font-weight: 600;
  font-size: 16px;
}

.sushi > table > thead > tr > th, .sushi > table > tbody > tr > td{
  border-bottom: none ;
}








/* Analiysis page begins here bro */

#Analiysis{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.3em;
}
.Bot_analiysis{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}
.Bot_analiysis > div{
  border: 0.7px solid rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  gap:7px;
  padding: 25px 20px;
  border-radius: 11px;
}
.Bot_analiysis > div > p{
  font-size: 10px;
  font-weight: 400;
  color: rgba(22, 22, 22, 1);
}
.Bot_analiysis > div > h3{
  color: rgba(78, 16, 239, 1);
  font-size: 22px;
  font-weight: 600;
}

.Trading_Bot_Controls{
  width: 100%;
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
  gap: 13px;
}
.Trading_Bot_Controls > div{
  border: 0.98px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 20px;
  display: block;
}

.Trading_Bot_Controls > div > h3{
  font-weight: 600;
  font-size: 16px;
  color: rgba(22, 22, 22, 1);
  margin-bottom: 10px;
}
.Trading_Bot_Controls > div > div > img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.Decision_Logic{
  width: 100%;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  gap: 10px;
  border-radius: 10px;
  display:block ;
}
.Decision_Logic > h3{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}
.Decision_Logic > div{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.Decision_Logic > div > div{
  width: 100%;
  display: flex;
  gap: 1em;
  align-items: center;
}
.Decision_Logic > div > div > span{
  display: flex;
  align-items: center;
}

.Recent_Insights{
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  padding: 20px;
  border-radius: 8px;
}
.Recent_Insights h3{
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 11px;

}
.Recent_Insights > div{
  display: flex;
  width: 100%;
  gap: 1em;
  flex-direction: column;
}
.Recent_Insights > div > article{
  font-size: 14px;
  font-weight: 400;
}








/* Settings page begins here */
#Settings{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.3em;
}
.profileForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 8px;
}
.profileForm > h3{
  font-size: 16px;
  font-weight: 600;
  color: rgba(78, 16, 239, 1);
}
.profileForm > div{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.profileForm > div > label{
  font-size: 14px;
  font-weight: 400;
  color: rgba(109, 120, 140, 1);
}
.profileForm > div > input{
  width: 100%;
  background: rgba(250, 251, 251, 1);
  border: 1px solid rgba(0, 0, 0, 0.27);
  border-radius: 6.56px;
  padding: 15px 20px;
  outline-color: #4E10EF;
}
.profileForm > div >button{
  display: inline-block ; 
  max-width: fit-content;
  padding: 15px 32px;
  background: rgba(78, 16, 239, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  border-radius: 6.56px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  transition: background 0.2s ease-out;
}
.profileForm > div > button:hover {
  background: #6541c9;
}

.profileForm > div > select{
  width: 100%;
  background: rgba(250, 251, 251, 1);
  border: 1px solid rgba(0, 0, 0, 0.27);
  border-radius: 6.56px;
  padding: 15px 20px;
  outline-color: #4E10EF;
}
.notify{
  font-size: 14px;
  font-weight: 400;
}
.notify > input{
  accent-color: #4E10EF;
}
.profileForm > div > p{
  font-size: 14px;
  font-weight: 400;
  color: rgba(109, 120, 140, 1);
}
.profileForm > div > textarea{
  width: 100%;
  background: rgba(250, 251, 251, 1);
  border: 1px solid rgba(0, 0, 0, 0.27);
  border-radius: 6.56px;
  padding: 15px 20px;
  outline-color: #4E10EF;
}



/* Transfer Button */
#OnclickTransferBudPopUp{
  /* display: none; */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: #00000080;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  z-index: 60;
}

#OnclickTransferBudPopUp .PopInner{
  width: 650px;
  padding: 30px 20px;
  border-radius: 16px;
  gap: 1em;
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  flex-direction: column;
}
#OnclickTransferBudPopUp .PopInner > .Transfer_Details{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
#OnclickTransferBudPopUp .PopInner > .Transfer_Details > h3{
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
}
.transferForm {
  display: flex;
  flex-direction: column;
  gap: .2em;
}
.transferForm > select{
  width: 100%;
  background: rgba(250, 251, 251, 1);
  border: 1px solid rgba(0, 0, 0, 0.27);
  border-radius: 6.56px;
  padding: 15px 20px;
  outline-color: #4E10EF;
}
.transferForm > label{
  font-size: 14px;
  font-weight: 400;
  color: rgba(109, 120, 140, 1);
}
.transferForm > p{
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  text-align: right;
  color: rgba(109, 120, 140, 1);
}

.transferForm > input{
  width: 100%;
  background: rgba(250, 251, 251, 1);
  border: 1px solid rgba(0, 0, 0, 0.27);
  border-radius: 6.56px;
  padding: 15px 20px;
  outline-color: #4E10EF;
}
.TransferSubmitButton{
  width: 100%;
  color: rgba(250, 251, 251, 1);
  border-radius: 6.56px;
  padding: 15px 20px;
  background: rgba(78, 16, 239, 1);
  cursor: pointer;
  margin-top: .7em;
}

.toast-close{
  margin-left: 2em !important;
}
.custom-select {
  position: relative;
  top:100%;
  width: 100%;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.selected1 .selected {
  display: flex;
  align-items: center;
  gap: 8px;
  background: rgba(250, 251, 251, 1);
  flex: 1;
  border-radius: 6px;
  padding: 15px;
}
.selected1{
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: rgba(250, 251, 251, 1);
}
.selected1:focus{
  border: 1px solid #4E10EF;
  outline-color: #4E10EF;
}

.custom-select .selected img {
  width: 20px;
  height: 20px;
}

.custom-select .options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background: rgba(250, 251, 251, 1);
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 6px;
  max-height: 180px;
  overflow-y: auto;
  z-index: 100;
}

.custom-select .options li {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.2s;
}

.custom-select .options li:hover {
  background: #f2f2f2;
}
.custom-select .arrow {
  margin-left: auto; 
  display: flex;
  align-items: center;
}
.custom-select .options svg {
  width: 20px;
  height: 20px;
}
