@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto sans', sans-serif;
}
body{
  background-color: white;
}
a{
  text-decoration: none;
  color: inherit;
}
button{
  border: none;
  outline: none;
}
li{
  list-style: none;
}
#app{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(80px, 250px) 1fr;
  overflow: hidden;
}
header{
  height: 100%;
  display: block;
  background: #4E10EF;
}

header > div{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows:45px 1fr 120px ;
  padding: 1em;
  padding-right:0 ;
}
.siteLogo{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.siteLogo img{
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.Navigator{
  display: block;
}
.Navigator ul{
  width: 100%;
  height: 100%;
  gap: 1.2em;
  display: grid;
  padding: 2em 0;
  grid-template-rows: repeat(9, 1fr);
}
.Navigator ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-top-left-radius:40px ;
  border-bottom-left-radius:40px ;
}
.Navigator ul li a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
  padding-left:2em;
  justify-content: flex-start;
  color: white;
}
section{
  width: 100%;
}
.Navigator ul li.tabcolor{
  background-color: white;
}
.Navigator ul li.tabcolor svg path{
  fill: #4E10EF;
  stroke: #4E10EF;
}
.Navigator ul li.tabcolor p{
  color: #4E10EF;
}
.Navigator ul li a p{
  font-size: 16px;
  font-weight: 400;
}

.quickStart h3{
  font-size: 17px;
  color: #FFFFFF;
  font-weight: 500;
}
.quickStart > div{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 1em;
}
.quickStart > div p{
  font-weight: 400;
  font-size: 13px;
  color: white;
}
#contentArea{
  display: grid;
  grid-template-rows: 80px 1fr;
  padding: 0 .5em;
  overflow-y:auto ;
}
#contentArea .topBar{
  display: grid;
  align-items: center;
  grid-template-columns: 300px 1fr;
}

.topBar > p{
  display: flex;
  height: 100%;
  align-items: center;
  font-size: clamp(13px, 2vw, 22px);
  font-weight: 600;
  color: rgba(22, 22, 22, 1);

}
#contentArea .topBar .search_Other{
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  height: 100%;
}
#contentArea .topBar .search_Other .searchbar{
  display: flex;
  align-items: center;
  padding: 8px 20px;
  gap: 6px;
  flex: 1;
  height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius:40px;
} 
#contentArea .topBar .search_Other .searchbar input{
  outline: none;
  border: none;
  background: none;
  width: 100%;
}
#contentArea .topBar .search_Other .userIcons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  height: 100%;
  padding-right:.4em ;
  gap: 1em;
}
#contentArea .topBar .search_Other .userIcons span{
  display: flex;
  align-items: center;
  justify-content: center;
}
#contentArea .topBar .search_Other .userIcons span svg{
  width: 90%;
  height: 90%;
} 
#contentArea .topBar .search_Other .userIcons span img{
  width: 30px;
  height:30px;
  border-radius: 50%;
  object-position: top;
}
.contentHub{
  display: flex;
  flex: 1;
}




/* Dashboard design Start here */
#Dashboard{
  display: none;
  flex: 1;
  flex-direction: column;
  gap: 1.3em;
}
#Dashboard .dashboardNavBar{
  width: 100%;
  display: flex;
}
.dashboardNavBar .dashboardnavcon{
  width: 100%;
  display: grid;
  /* grid-template-columns:1fr 1fr 1fr 1fr 150px; */
  /* grid-auto-rows: minmax(100px, auto); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
}
.dashboardnavcon > div{
  border-radius: 11px;
  border: 0.7px solid rgba(0, 0, 0, 0.15);
  padding:10px 15px;
}

.dashboardNavBar .dashboardnavcon .Portfolio_money{
  background: rgba(78, 16, 239, 1);
  display: flex;
  gap: .4em;
}

.dashboardNavBar .dashboardnavcon .Portfolio_money >:nth-child(1){
  display: flex;
  width: 3px;
  height: 80%;
  background-color: white;
  border-radius: 10px;
  
}
.dashboardNavBar .dashboardnavcon .Portfolio_money >:nth-child(2){
  display: flex;
  flex-direction: column;
  padding:0 .5em;
  align-items: start;
  justify-content: space-between;
  flex: 1;
  color: white;
}
.dashboardNavBar .dashboardnavcon .Portfolio_money >:nth-child(2) p{  
  font-size: 9.78px;
  font-weight: 400;
}
.dashboardNavBar .dashboardnavcon .Portfolio_money >:nth-child(2) h3{  
  font-size: 18.35px;
  font-weight: 600;
}
.dashboardNavBar .dashboardnavcon .Portfolio_money >:nth-child(3){
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 50px;
}
.dashboardNavBar .dashboardnavcon .Portfolio_money >:nth-child(3) span{
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  width: 23px;
  height: 23px;
  border-radius: 5.59px;
  align-items: center;
}

.dashboardNavBar .dashboardnavcon .today_PL{
  background:white;
  display: flex;
  gap: .4em;
}

.dashboardNavBar .dashboardnavcon .today_PL >:nth-child(1){
  display: flex;
  width: 3px;
  height: 80%;
  background-color: rgba(208, 255, 229, 1);
  border-radius: 10px;
}
.dashboardNavBar .dashboardnavcon .today_PL >:nth-child(2){
  display: flex;
  flex-direction: column;
  padding:0 .5em;
  align-items: start;
  justify-content: space-between;
  flex: 1;
  color: rgba(22, 22, 22, 1);
}
.dashboardNavBar .dashboardnavcon .today_PL >:nth-child(2) p{  
  font-size: 9.78px;
  font-weight: 400;
}
.dashboardNavBar .dashboardnavcon .today_PL >:nth-child(2) > div{  
  font-size: 16.35px;
  font-weight: 600;
  display: inline;
  white-space: nowrap;
}
.dashboardNavBar .dashboardnavcon .today_PL >:nth-child(2) > div p{
  font-size: 9.78px;
  display: inline-block;
}
.dashboardNavBar .dashboardnavcon .today_PL >:nth-child(3){
  display: flex;
  justify-content: flex-end;
  width: 50px;
  height: 100%;
}
.dashboardNavBar .dashboardnavcon .today_PL >:nth-child(3) span{
  display: flex;
  justify-content: center;
  background: rgba(208, 255, 229, 1);
  width: 23px;
  height: 23px;
  border-radius: 5.59px;
  align-items: center;
}

.dashboardNavBar .dashboardnavcon .Open_Positions{
  background:white;
  display: flex;
  gap: .4em;
}

.dashboardNavBar .dashboardnavcon .Open_Positions >:nth-child(1){
  display: flex;
  width: 3px;
  height: 80%;
  background-color: rgba(181, 154, 246, 1);
  border-radius: 10px;
}
.dashboardNavBar .dashboardnavcon .Open_Positions >:nth-child(2){
  display: flex;
  flex-direction: column;
  padding:0 .5em;
  align-items: start;
  justify-content: space-between;
  flex: 1;
  color: black;
}
.dashboardNavBar .dashboardnavcon .Open_Positions >:nth-child(2) p{  
  font-size: 9.78px;
  font-weight: 400;
}
.dashboardNavBar .dashboardnavcon .Open_Positions >:nth-child(2) h3{  
  font-size: 17.35px;
  font-weight: 600;
}
.dashboardNavBar .dashboardnavcon .Open_Positions >:nth-child(3){
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 50px;
}
.dashboardNavBar .dashboardnavcon .Open_Positions >:nth-child(3) span{
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  width: 23px;
  height: 23px;
  border-radius: 5.59px;
  align-items: center;
}

.dashboardNavBar .dashboardnavcon .Wallet_Balances{
  background:white;
  display: flex;
  gap: .4em;
}

.dashboardNavBar .dashboardnavcon .Wallet_Balances >:nth-child(1){
  display: flex;
  width: 3px;
  height: 80%;
  background-color: rgba(255, 208, 246, 1);
  border-radius: 10px;
}
.dashboardNavBar .dashboardnavcon .Wallet_Balances >:nth-child(2){
  display: flex;
  flex-direction: column;
  padding:0 .5em;
  align-items: start;
  justify-content: space-between;
  flex: 1;
  color: black;
}
.dashboardNavBar .dashboardnavcon .Wallet_Balances >:nth-child(2) .wal{  
  font-size: 9.78px;
  font-weight: 400;
}
.dashboardNavBar .dashboardnavcon .Wallet_Balances >:nth-child(2) .val2{  
  font-size: clamp(12px, 2vw, 17px);
  font-weight: 600;
  margin: 0;
}
.dashboardNavBar .dashboardnavcon .Wallet_Balances >:nth-child(3){
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 50px;
}
.dashboardNavBar .dashboardnavcon .Wallet_Balances >:nth-child(3) span{
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  width: 23px;
  height: 23px;
  border-radius: 5.59px;
  align-items: center;
}

.dashboardNavBar .dashboardnavcon .Bot_Status{
  display: flex;
  flex-direction:column;
  align-items: center;
  gap: .4em;
}
.dashboardNavBar .dashboardnavcon .Bot_Status > p{
  font-size: 9.78px;
  font-weight: 400;
}
.dashboardNavBar .dashboardnavcon .Bot_Status > h3{
  font-size: 17.35px;
  font-weight: 600;
}
.dashboardNavBar .dashboardnavcon .Bot_Status > button{
  border-radius: 8px;
  background: rgba(249, 231, 230, 1);
  border: 0.61px solid;
  cursor: pointer;
  color: rgba(213, 48, 35, 1);
  font-weight: 700;
  font-size: 12px;
  padding: 7.33px 9.77px;
  border-image-source: radial-gradient(62.22% 62.22% at 31.73% 0%, #A0ABF8 0%, rgba(255, 255, 255, 0) 100%); 
}

#Dashboard .dashboardContent{
  flex: 1;
  display: flex;
  flex-direction:column ;
  gap: 1.3em;
}
#Dashboard .dashboardContent .p2pmarket{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
}
#Dashboard .dashboardContent .p2pmarket > div{
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  gap: 1em;
}
.PL_OverTime{
  padding: 1em 1.5em;
}
.PL_OverTime .timeoverPL{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.PL_OverTime .timeoverPL p{
  font-weight: 600;
  font-size: 16px;
}
.PL_OverTime .timeoverPL small{
  font-size: 9px;
  font-weight: 400;
}
.PL_OverTime .chatjs{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
.market_snapshot{
  display: flex;
  flex-direction: column;
  padding: 1em 1.5em;
}
.market_snapshot .marketvalue{
  width: 100%;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
}
.market_snapshot .latestupdatedcurrencies{
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  flex: 1;
}
.market_snapshot .latestupdatedcurrencies > div{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
}
.market_snapshot .latestupdatedcurrencies > div .coinLogo{ 
  display: flex;
  height: 100%;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}
.market_snapshot .latestupdatedcurrencies > div .coinLogo span{
  display: flex;
  align-items: center;
  justify-content: center;
}
.market_snapshot .latestupdatedcurrencies > div .coinLogo p{
  font-size: 13px;
  font-weight: 400;
}
.market_snapshot .latestupdatedcurrencies > div .marketview{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: end;
}
.market_snapshot .latestupdatedcurrencies > div .marketview > p{
  font-size: 13px;
}

#Dashboard .RecentTradeHistory{
  width: 100%;
  display: grid;
  grid-template-columns:2fr 1fr;
  gap: 2em;
}
#Dashboard .RecentTradeHistory > div{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}
.fortable{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
  overflow-x: auto;
  border-radius: 8px;
}
.card {
    background: white;
    border-radius: 8px;
    padding: 20px;
    min-width: 500px;
    width: 100%;
    overflow-x: auto;
}
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .header >:nth-child(1){
    font-size: 16px;
    font-weight: 600;
  }
  .header >:nth-child(2){
    font-size: 9px;
    font-weight: 400;

  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 12px 8px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #eee;
  }
  th {
    font-weight: 600;
    color: #555;
  }
  td {
    color: #333;
  }
  .green {
    color: green;
  }
  .red {
    color: red;
  }

#Dashboard .RecentTradeHistory > div .Alerts_Notifications{
  width: 100%;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 20px;
  flex-direction: column;
  gap: 1em;
}
#Dashboard .RecentTradeHistory > div .Alerts_Notifications > span{
  width: 100%;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: rgba(22, 22, 22, 1);
}
#Dashboard .RecentTradeHistory > div .Alerts_Notifications > div{
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
}
#Dashboard .RecentTradeHistory > div .Alerts_Notifications > div > span{
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 400;
}
.Bot_Activity .BotActive{
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  gap: 1em;
}
.Bot_Activity .BotActive span{
  font-size: 16px;
  width: 100%;
  align-items: center;
  font-weight: 600;
}
.Bot_Activity .BotActive > div{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.Bot_Activity .BotActive > div > p{
  font-size: 12px;
  font-weight: 400;
}


.Bot_Activity .Quick_Actions{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.3em;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.Bot_Activity .Quick_Actions > span{
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  align-items: center;
}
.Bot_Activity .Quick_Actions > div{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}
.Bot_Activity .Quick_Actions > div button{
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.14);
  text-align: center;
}





/* Wallets design Start here */

#Wallet{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.3em;
  margin-bottom: 2em;
}
#Wallet .Hot_Wallet{
  padding: 20px;
  flex-direction: column;
  background: rgba(78, 16, 239, 1);
  position: relative;
  width: 100%;
  border-radius: 8px;
}
.diferentWallat{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.diferentWallat > div{
  display: flex;
  align-items: center;
}
.diferentWallat >:nth-child(1){
  display: flex;
  align-items: center;
  gap: 12px;
}
.diferentWallat >:nth-child(1) p{
  font-size: clamp(14, 3vw, 20px);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}
.diferentWallat >:nth-child(2){
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}
.diferentWallat >:nth-child(2) button{
  padding: 10px 32px;
  font-size: 11px;
  font-weight: 400;
  border-radius: 6.56px;
  cursor: pointer;
}
.diferentWallat >:nth-child(2) > :nth-child(1){
  position: absolute;
  white-space: nowrap;
  right: 10em;
}
.BalanceLookUp{
  width: 100%;
  display: block;
  /* align-items: center; */
  /* justify-content: flex-start; */
  position: relative;
}
.BalanceLookUp > div{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.BalanceLookUp > div span{
  display: flex;
  justify-content: center;
  align-items: center;
}
.BalanceLookUp > div p{
  font-weight: 24px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}
.BalanceLookUp > p{
  font-weight: 700;
  font-size: 40px;
  color: rgba(255, 255, 255, 1);
}
.BalanceLookUp > small{
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}
.BalanceLookUp > .transferButton{
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  padding: 8px 32px;
  background: rgba(78, 16, 239, 1);
  display:inline-flex;
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
  text-align: center;
}
.BalanceLookUp > .transferButton span{
  display: flex;
  align-items: center;
  justify-content: center;
} 
.BalanceLookUp > .transferButton > p{
  font-size: 11px;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  transform: translateY(3px);
}

.HotwalletpopNotify{
  width: 100%;
  display: block;
  padding: 20px;
  background: rgba(246, 246, 246, 1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  cursor: default;
}
.HotwalletpopNotify > div{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: .6em;
}
.HotwalletpopNotify ul{
  display: block;
  margin-left: 2em;
  margin-bottom: 1.4em;
}
.HotwalletpopNotify ul li{
  list-style: circle;
  font-size: 16px;
  font-weight: 400;
}




.table-container {
  background: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  min-width: 700px;
  padding: 19px 38px;
}
.table-container > table {
  width: 100%;
  border-collapse: collapse;
  border: none !important;
}
.table-container > table,
.table-container > table tr{
  border-color: white !important;
}
.table-container > table th {
  text-align: left;
  padding: 12px;
  font-size: 14px;
  color: #555;
  border-bottom: 1px solid #eee;
}
.table-container > table  td {
  padding: 12px;
  font-size: 14px;
  border-bottom: none;
  vertical-align: middle;
}
.asset {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* .table-container > table  .asset svg {
  width: 34px;
  height: 34px;
  border-radius: 50%;
} */
/* .red {
  color: red;
}
.green {
  color: green;
} */
.table-container > table .dots {
  cursor: pointer;
  font-size: 18px;
  color: #666;
}


.Bot_Performance{
  width: 100%;
  display: block;
  padding: 19px 38px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.Bot_Performance > div{
  display: flex;
  width: 100%;
  align-items: center; 
}
.Bot_Performance > :nth-child(1) p{
  font-size: 16px;
  font-weight: 600;
}
.Bot_Performance > :nth-child(2){
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  gap: 10px;
}
.Bot_Performance > :nth-child(2) > div{
  gap: 10px;
  background: rgba(245, 246, 247, 1);
  border-radius: 8px;
  padding: 31px 38px;
}
.Bot_Performance > :nth-child(2) > div p{
  font-weight: 400;
  font-size: 14px;
  color: rgba(83, 95, 119, 1);
}
.Bot_Performance > :nth-child(2) > div h3{
  font-size: 22px;
  color: rgba(22, 22, 22, 1);
  font-weight: 600;
}
.Recent_Transactions{
  width: 100%;
}
.transactionstrick{
  padding: 20px;
  gap: 10px;
  /* max-width: 800px; */
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
} 
.transactionstrick > p{
  width: 100%;
  font-weight: 600;
  color: rgba(22, 22, 22, 1);
  font-size: 16px;
}
.tablebody > tr > td{
  border-bottom:none;
  vertical-align: middle;
}
.tablebody > tr .statuevalue{
  padding: 8px 23px;
  color: white;
  border-radius: 4px;
}
.completed{
  background-color: green;
}
.pending{
  background: rgba(227, 198, 67, 1);
}
.failed{
  background: rgba(149, 31, 22, 1);
}
.stuborntable{
  display: flex;
  align-items: center;
}
sup{
  font-size: 10px !important;
}